.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body {
	background-color: black;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	color: white;
	border-bottom: 2px solid white;
	text-align: center;
}
img {
	width: 300px;
	height: 300px;
	margin: 75px;
	transition: all 2s;
}

img:hover {
	transform: scale(1.5);
}