html {
    background-color: #FFC5B1;
    /* min-height:100%;
    background: url('img/background1.jpg') #FFC5B1;
    background-size:cover;
    background-blend-mode: overlay; */
    font-family: 'Dancing Script';
}

body {
    
    margin: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 90px 175px 50px 160px; 
    list-style-position: inside;
}

li {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    color: #907B73;
}

h1 {
    font-size: 6rem;
    margin: 0 auto;
    text-align: center;
    color: #907B73;
    border-bottom: 5px solid #907B73;
}

input[type="text"] {
    font-size: 3.5rem;
    font-family: 'Raleway';
    color: #907B73;
    margin: 50px 0px 0px 0px;
    width: 50%
}

button {
    border: none;
    background-color: #FFC5B1;
}

#enter {
    background-image: url('img/plus.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 50px 0px 0px 25px;
    width: 70px;
    height: 70px;
    outline: none;
}

.check {
    background-color: white;
    background-image: url('img/check.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    width: 65px;
    height: 60px;
    padding: 10px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
}

.done {
    text-decoration: line-through;
}

.input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 20px auto 0px auto;
}

.list {
    margin: 0 auto;
    width: 859px;
    height: 1134px;
    background-image: url('img/paper.png');
}

.logo {
    display: flex;
    justify-content: center;
}

.finalfox {
    max-width: 10%;
    max-height: 10%;
}